:host {
  display: block;
  padding: 1.5%;
  position: relative;
}

.fix-height {
  position: relative;
  top: 0;
  max-height: 52vh;
  margin: auto;
  padding: 0;
  overflow: auto;
}





.custom-width {
  width: 450px;
}

.bottom-sheet-container {
  // margin-left: 465px !important;
  position: absolute;
  background-color: blue;
  bottom: 10px;
  right: 10px;
  width: 78%;

  @media screen and (min-width: 600px) and (max-width: 959px) {
    width: 51%;
  }

  @media screen and (min-width: 960px) and (max-width: 1279px) {
    width: 62%;
  }

  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    width: 67%;
  }

  // width: calc(100vw - 485px) !important;
  min-width: 100% !important;
  z-index: 0 !important;
}


mat-card2 {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
