.form-control.ng-invalid {
  border-left: 5px solid red;
}

.mat-card-content {
  margin: 0;
  padding: 0;
}

.required-field-invalid {
  border-left: 5px solid red;
}


div.td-step-content2 {
  background-color: lightblue;
  overflow: auto;
}
