    .nav-button {
      margin: 0 40px 0 0;
    }

    .nopad {
      margin: 0;
      padding: 0;
    }


    .md-button.logo {
      height: 7rem;
      width: 7rem;
    }

    .logo-image {
      height: 100%;
      width: 100%;
    }
