$custom-accent-color: (50 : #f2f8e9,
100 : #e0eec8,
200 : #cbe3a4,
300 : #b6d880,
400 : #a6cf64,
500 : #96c749,
600 : #8ec142,
700 : #83ba39,
800 : #79b331,
900 : #68a621,
A100 : #f0ffe1,
A200 : #d7ffae,
A400 : #beff7b,
A700 : #b1ff62,
contrast: (50 : #414142,
100 : #414142,
200 : #414142,
300 : #414142,
400 : #414142,
500 : #414142,
600 : #414142,
700 : #414142,
800 : #414142,
900 : #414142,
A100 : #414142,
A200 : #414142,
A400 : #414142,
A700 : #414142,
));


$custom-primary-color: (50 : #e8e8e8,
100 : #c6c6c6,
200 : #a0a0a1,
300 : #7a7a7b,
400 : #5e5e5e,
500 : #414142,
600 : #3b3b3c,
700 : #323233,
800 : #414142,
900 : #414142,
A100 : #c6c6c6,
A200 : #a0a0a1,
A400 : #5e5e5e,
A700 : #323233,
contrast: (50 : #414142,
100 : #414142,
200 : #414142,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));
